<div class="container">
  <div class="page-position">
    <div class="title-position">
      <mat-icon aria-hidden="false">create</mat-icon>
      <h2>Sign Up</h2>
      <div class="title-line"></div>
    </div>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" novalidate>    
      <div class="form-container">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input formControlName="name" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input formControlName="password" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Confirm Password</mat-label>
          <input formControlName="password_confirmation" matInput>
        </mat-form-field>
        <div class="form-button">
          <button mat-raised-button color="primary" type="submit">Enter</button>
        </div>
      </div>
    </form>
  </div>
</div>


  <!-- <form [formGroup]="signUpForm" (ngSumbit)="onSubmit()" novalidate>
    <input placeholder="name" type="text" name="name" ngModel>
    <input placeholder="email">
    <input placeholder="password">
    <input placeholder="confirm password">
  </form> -->
