<div class="container">
  <div class="page-position">
    <mat-icon aria-hidden="false">help</mat-icon>
    <h2>Quiz</h2>

    <div class="quiz-section">
      <div class="row">
        
        <div class="question-number">
          <button mat-mini-fab color="primary" 
            aria-label="Example icon button with a plus one icon">
            1
          </button>
        </div>

        <div class="col-sm-12">
          <img src="https://via.placeholder.com/300">
        </div>
        <div class="col-sm-12">
          <mat-form-field class="answer">
            <input matInput placeholder="Answer 1">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="question-number">
          <button mat-mini-fab color="primary" 
            aria-label="Example icon button with a plus one icon">
            2
          </button>
        </div>

        <div class="col-sm-12">
          <img src="https://via.placeholder.com/300">
      </div>

      <div class="col-sm-12">
        <mat-form-field class="answer">
          <input matInput placeholder="Answer 2">
        </mat-form-field>
      </div>
    </div>


  </div>
</div>