.globe
    background-image: url('/assets/images/globe.jpg')
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    height: 100%
    display: flex
    justify-content: center
    align-items: center

.home-position
    text-align: center

.home-title
    font-size: 63px
    color: white
    font-family: 'Bangers'
    letter-spacing: 5px

.home-button
    font-size: 20px
    margin: 8px
    padding-top: 10px
    min-width: 120px
    button
        margin: 10px