<div class="globe">
  <div class="home-position">
    <h1 class="home-title">MAPZAM</h1>
    <div class="home-button">
      <button *ngIf="(auth.userSignedIn$ | async)" mat-raised-button color="primary" (click)="logOut()">Log Out</button>
      <button *ngIf="!(auth.userSignedIn$ | async)" mat-raised-button color="primary" routerLink="login">Log In</button>
      <button *ngIf="!(auth.userSignedIn$ | async)" mat-raised-button color="primary" routerLink="signup">Sign Up</button>
      <button mat-raised-button color="primary" routerLink="profile">Profile</button>
      <button mat-raised-button color="primary" routerLink="search">Search</button>
      <button mat-raised-button color="primary" routerLink="quiz">Quiz</button>
      <button mat-raised-button color="primary" routerLink="scores">Scores</button>
    </div>
  </div>
</div>