/* You can add global styles to this file, and also import other style files */
html, body, app-root, router-outlet
    height: 100%

.page-position
    text-align: center
    padding-top: 60px

.title-position
    padding-bottom: 40px
    h2
        margin-bottom: 5px

.title-line
    border-bottom: 2px blue solid
    margin-right: 45%
    margin-left: 45%

.form-container
    display: flex
    text-align: center
    align-items: center
    justify-content: center
    flex-direction: column
    mat-form-field
        width: 40%
        padding-bottom: 30px
